[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
mongoengine = "*"
pymongo = "*"
dnspython = "*"

[dev-packages]
discord = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
